<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerIpAddress" value="192.168.1.7"/>
        <add key="ServerPort" value="30000"/>
        <add key="DefaultPath" value="defaultImage.png"/>
        <add key="CoversPath"  value="C:\Users\nicol\Desktop\coversServer\"/>
    </appSettings>
</configuration>